.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  padding: 0 24px;

  &__image-top,
  &__image-top__desktop {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }

  &__image-bottom,
  &__image-bottom__desktop {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
  }

  &__image-top__desktop,
  &__image-bottom__desktop {
    display: none;
  }

  &__form {
    width: 80%;
    max-width: 526px;
    box-shadow: 0px 4px 12px 0px rgba(#000, 0.7);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 293px;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-size: $fs-20;
    line-height: $lh-22;
  }

  &__remember {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  @include tablet {
    &__image-top,
    &__image-bottom {
      display: none;
    }

    &__image-top__desktop,
    &__image-bottom__desktop {
      display: block;
    }
  }
}
